//DEFAULTS
//CSS RESET RELOADED//
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}
//END CSS RESET RELOADED//
.hide {
	display: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block
}

//END DEFAULTS
html {
	font-family: "Roboto Slab", sans-serif;
	font-size: 12px;
	body {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		line-height: 1.4em;
		background-color: black;
		text-align: center;
		color: white;
	}
	h1 {
		font-size:30px;
		margin-bottom:30px;
	}
	form {
		text-align:left;
		margin-left:30px;
		margin-top:30px;
		background-color: rgba(0,0,0,0.5);
		width: 600px;
		padding: 20px;
		label {
			width:300px;
			display: block;
			float: left;
		}
	}
	#scene {
		min-height: 460px;
		position: relative;
		overflow: hidden;
		display: block;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		.layer {
			display: block;
			height: 100%;
			width: 100%;
			padding: 0;
			margin: 0;
			.background {
				background: url(/img/bg/soft-and-simple.jpg) no-repeat 50% 100%;
				bottom: -5%;
				background-size: cover;
				position: absolute;
				width: 110%;
				left: -5%;
				top: -5%;
			}

			.icon {
				color:#ffffff;
				text-decoration:none;
				cursor:pointer;
				float:left;
				margin-left:50px;
				margin-top:50px;
				margin-bottom: 50px;
				width:200px;
				height:200px;
				background-color:rgba(255,255,255,1);
				border-radius:35px;
				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 100px 100px -25px rgba(0, 0, 0, 0.1), inset 0 1px 0px 0px rgba(255, 255, 255, 0.8);
				background-size: 100%;
				.caption {
					line-height: 30px;
					margin-top:220px;
					font-size:30px;
					text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
				}
				.delete-app-icon {
					position: absolute;
					top: 0;
					right: 0;
					background-color: white;
					border-radius: 48px;
					border: 1px solid red;
				}
				.folder-icon {
					position:absolute;
					height: 100px;
					width: 100px;
					margin-top: 61px;
					margin-left: 49px;
					background-size: 100%;
				}
			}
		}
	}
}